#wrapper {margin: auto; text-align: center;}
#submit, #url {font-size: 72px; font-family: Consolas, sans-serif;}
#memCount {font-size: 30px;  font-family: Consolas, sans-serif;}
h1 {font-size: 72px; margin-bottom: 1.0em; font-family: sans-serif;}
#uriList {list-style-type: none;}
a#memCountListLink {border-bottom: 1px dotted black;}
a#memCountListLink.activated {border-bottom: 2px solid #009900;}
a#memCountListLink.activated:hover {cursor: default;}
a#memCountListLink:hover {cursor: pointer;}